*
{
    box-sizing: border-box;
}

.container
{

    display: grid;
    gap: 10px;
    padding: 10px;

    grid-template-columns:
        1fr     2fr     1fr     0.5fr     2fr;

    grid-template-rows:
        1fr
        2fr
        2fr
        1fr
        3fr;

    grid-template-areas:
        /* mit einem punkt, setzen wir eine leere grid-fraktion */
        "boxOne     boxOne      boxTwo      boxTwo      boxFive"
        "boxOne     boxOne      boxTwo      boxTwo      boxFive"
        "boxThree   boxThree    boxThree    .           boxFive"
        "boxSix     boxSix      boxSix      .           boxFive"
        "boxSix     boxSix      boxSix      boxFour     boxFive";
}

.box
{
    background: rgb(255, 38, 0);
    border: 5px solid black;
    padding: 10px;
}

.box-1
{
    background: rgb(0, 4, 255);
    /* mit grid-area: ; können wir dem element einen namen geben, wie eine variable */
    grid-area: boxOne;
}

.box-2
{
    background: rgb(89, 255, 24);
    grid-area: boxTwo;
}

.box-3
{
    background: rgb(255, 2, 255);
    grid-area: boxThree;
}

.box-4
{
    background: rgb(255, 174, 24);
    grid-area: boxFour;
}

.box-5
{
    background: rgb(255, 255, 0);
    grid-area: boxFive;
}

.box-6
{
    background: rgb(49, 21, 0);
    grid-area: boxSix;
}